<div class="m-auto col-lg-9">
  <form [formGroup]="lobbyForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="formatSelect">Select tournament format</label>
        <select class="form-control" id="formatSelect" (change)="adjustToFormatType()" formControlName="formatFormControl">
          <option *ngFor="let format of formats" value="{{format}}">{{format}}</option>
        </select>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="opendecklist" formControlName="openDecklistFormControl">
          <label class="form-check-label" for="opendecklist">Open decklist</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="picksSelect">Picks</label>
        <select class="form-control" id="picksSelect" formControlName="pickFormControl">
          <option *ngFor="let pick of picks" value="{{pick}}">{{pick}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="bansSelect">Bans</label>
        <select class="form-control" id="bansSelect" formControlName="bansFormControl">
          <option *ngFor="let ban of bans" value="{{ban}}">{{ban}}</option>
        </select>
      </div>
      <div class="col-md-12 text-center">
        <small *ngIf="lobbyForm.invalid" class="error">PicksComponent must be higher then bans</small>
      </div>
      <div class="col-md-12 text-center d-block">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="loading">Create</button>
      </div>
    </div>
  </form>
</div>
<app-loader *ngIf="loading"></app-loader>
